%html
  %head
    %title Reservasala
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'https://code.jquery.com/jquery-3.3.1.slim.min.js', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'


  %body
    %div{:class => "container"}
      %div{:class => "card"}
        %div{:class => "card-header"}
          %h5 Cadastro de Usuário
        %div{:class => "card-body"}
          = form_tag reservas_path, :method => :post, :remote => true, :id => "cadastro", :novalidate => "novalidate" do
            %div{:class => "form-group", :id => "materiaDiv"}
              = label :reserva, :materia, 'Matéria'
              = text_field :reserva, :materia, {:class => "form-control", :id => "materia"}
              %div{:class => "invalid-feedback", :id => "materiaFeed"}
            %div{:class => "form-group", :id => "turmaDiv"}
              = label :reserva, :turma, 'Turma'
              = text_field :reserva, :turma, {:class => "form-control", :id => "turma"}
              %div{:class => "invalid-feedback", :id => "turmaFeed"}
            %div{:class => "form-group", :id => "salaDiv"}
              = label :reserva, :sala, 'Sala'
              = select :reserva, :sala, Sala.all.collect { |s| [s.numero, s.id] }, { include_blank: true } ,{:class => "custom-select", :id => "sala"}
              %div{:class => "invalid-feedback", :id => "salaFeed"}
            %div{:class => "form-group", :id => "dataDiv"}
              = label :reserva, :data, 'Data'
              = date_field :reserva, :data, {:class => "form-control", :id => "data"}
              %div{:class => "invalid-feedback", :id => "dataFeed"}
            %div{:class => "form-group", :id => "horarioDiv"}
              = label :reserva, :horario, 'Horário'
              = select :reserva, :horario, Horario.all.collect { |h| [h.horario, h.id] }, { include_blank: true } ,{:class => "custom-select", :id => "horario"}
              %div{:class => "invalid-feedback", :id => "horarioFeed"}
            = submit_tag 'Cadastrar', {:class => "btn btn-outline-primary", :id => "cadastrar"}