%div{:class => "card border-dark mx-auto", :style => "width: 18rem"}
  %h3{:class => "card-header"} Login
  %div{:class => "card-body"}
    = form_tag usuarios_path, :method => :post, :remote => true, :id => "login", :novalidate => "novalidate" do
      %div{:class => "form-group"}
        = label :usuario, :nome, 'Nome'
        = text_field :usuario, :nome, {:class => "form-control", :id => "nomeLogin"}
        %div{:class => "invalid-feedback", :id => "nomeLoginFeed"}
      %div{:class => "form-group"}
        = label :usuario, :senha, 'Senha'
        = password_field :usuario, :senha, {:class => "form-control", :id => "senhaLogin"}
        %div{:class => "invalid-feedback", :id => "senhaLoginFeed"}

      = submit_tag 'Entrar', {:class => "btn btn-outline-success"}

    = link_to 'Cadastrar', new_usuario_path, {:class => "btn btn-outline-dark mt-2", "data-toggle" => "modal", "data-target" => "#cadastroModal"}

%div{:class => "modal fade", :id => "cadastroModal"}
  %div{:class => "modal-dialog", "role" => "document"}
    %div{:class => "modal-content"}
      %div{:class => "modal-header"}
        %h5{:class => "modal-title"} Cadastro de Usuário
      %div{:class => "modal-body"}
        = form_tag usuarios_path, :method => :post, :remote => true, :id => "cadastro", :novalidate => "novalidate" do
          %div{:class => "form-group", :id => "nomeDiv"}
            = label :usuario, :nome, 'Nome'
            = text_field :usuario, :nome, {:class => "form-control", :id => "nome"}
            %div{:class => "invalid-feedback", :id => "nomeFeed"}
          %div{:class => "form-group", :id => "emailDiv"}
            = label :usuario, :email, 'Email'
            = email_field :usuario, :email, {:class => "form-control", :id => "email"}
            %div{:class => "invalid-feedback", :id => "emailFeed"}
          %div{:class => "form-group", :id => "senhaDiv"}
            = label :usuario, :senha, 'Senha'
            = password_field :usuario, :senha, {:class => "form-control", :id => "senha"}
            %div{:class => "invalid-feedback", :id => "senhaFeed"}

          = submit_tag 'Cadastrar', {:class => "btn btn-outline-primary", :id => "cadastrar"}