%h2 Cadastro de Usuário

= form_tag usuarios_path, :method => :post do

  = label :usuario, :nome, 'Nome'
  = text_field :usuario, :nome

  = label :usuario, :email, 'Email'
  = email_field :usuario, :email

  = label :usuario, :senha, 'Senha'
  = password_field :usuario, :senha


= submit_tag 'Cadastrar'